body{
    background: linear-gradient(#98BCB2, #98BCB2);
}

h1{
    font-family: 'Bebas Neue', cursive;
    color:#fff;
    margin-top: 0em;
    margin-bottom: 0em;
}

p{
    font-family: 'Roboto Condensed', sans-serif;
    color:#fff;
    margin-top: 0em;
}

h1 span{
    color: #EA4A66;
}

header{
    position: absolute;
    max-width: 60%;
    top: 2em;
    left: 2em;
    border-bottom: 1px dashed #fff;
}

main{
    display: flex;
    align-items: top;
    justify-content: center;
    min-height: 100vh;
}

main .container{
    position: relative;
    width: 300px;
    height: 150px;
}

main .box{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #240A2D;
    border: 1px dashed #240A2D;
    border-radius: 1em;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}